<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class="container-fluid">
   <div class="row">
      <div class="col-6 offset-3">
         <h1 class="text-center" style="margin: 7rem 0 2rem 0;">Events</h1>
      </div>
   </div>
   <div class="mobile-wrapper">
      <section class="upcoming-events">
         <div class="card container">
            <h6><%- Date(); %></h6>
            <h3>Lastest Events</h3>
            
            <div class="events-wrapper">
               <% for (e of events) { %>
               <div class="event active">
                  <i class="far fa-bookmark hot"></i>
                  <h4 class="event__point">
                     <span><%= e.eventTime%></span>
                     <span style="margin-left: 2rem;"><%= e.title%></span>
                  </h4>
                  <span class="event__duration" style="margin-right: 2rem;">starts in <%= (Math.abs(new Date() - e.eventDate) / 3600000).toFixed(1); %> hours</span>
                  <p class="event__description">
                     <%= e.content %>
                  </p>
               </div>
               <% } %>
            </div>
         </div>
      </section>
   </div>
</div>
<%- include('partials/footer.ejs') %>